:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}