.section__elements {
    display: inline;
}

 .section__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;

 }

.section__title-item {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.section__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}
    
@media screen and (min-width: 768px) {
    .section__elements {     
        display: block;
        flex-basis: calc((100% - 30px) / 2);
    }

    .section__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .section__title-item {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .section__elements {
       
        flex-basis: calc((100% - 120px) / 4);
    }
}
